{
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "plugins": [ "prettier"],
  "extends": ["eslint:recommended","plugin:vue/recommended","prettier"],
  "parserOptions": {
    "parser": "babel-eslint",
     "ecmaVersion": 6,
     "sourceType": "module"
  },
  "globals": {
      "jQuery": true,
      "$": true,
      "YT": true,
      "addthis": true,
      "module": true,
      "checkFeatureFlag": true,
      "getQueryParam": true,
      "setDrpDnAccessibility": true,
      "digitalData": true,
      "debounce": true,
      "stickybits": true,
      "require": true,
       "_satellite": true

  },
  "rules": {
      "max-params": ["error", { "max": 7 }],
      "max-statements": ["error", { "max": 100 }],
      "max-lines": ["error", { "max": 1000 }],
      "max-len": 0,
      "complexity": ["error", { "max": 10 }],
      "object-shorthand": ["warn", "properties"],
      "array-callback-return": "error",
      "no-undef": "error",
      "extra-rules/no-commented-out-code": "off",
      "class-methods-use-this": "off",
      "no-bitwise": 2,
      "camelcase": 0,
      "curly": 2,
      "eqeqeq": 2,
      "guard-for-in": 2,
      "no-extend-native": 2,
      "wrap-iife": 0,
      "no-use-before-define": 0,
      "new-cap": 0,
      "no-caller": 2,
      "no-empty": 2,
      "no-irregular-whitespace": 2,
      "no-new": 0,
      "no-plusplus": 0,
      "quotes": 0,
      "no-unused-vars": [
          "error",
          { "args": "none" }
      ],
      "strict": 0,
      "max-depth": 0,
      "no-var": 0,
      "semi": 0,
      "no-cond-assign": 0,
      "no-debugger": 0,
      "no-eq-null": 0,
      "no-eval": 0,
      "no-unused-expressions": 0,
      "no-mixed-spaces-and-tabs": 2,
      "no-trailing-spaces": 2,
      "no-tabs": 2,
      "block-scoped-var": 0,
      "no-iterator": 0,
      "linebreak-style": 0,
      "comma-style": [
          2,
          "last"
      ],
      "no-loop-func": 0,
      "no-multi-str": 0,
      "require-yield": 0,
      "valid-typeof": 0,
      "no-proto": 0,
      "no-script-url": 0,
      "no-shadow": 0,
      "dot-notation": 0,
      "no-new-func": 0,
      "no-new-wrappers": 0,
      "no-invalid-this": 0,
      "no-useless-escape": 0,
      "no-console": 0,
      "prettier/prettier": "error"
  }
}
