{
    "extends": ["stylelint-config-recommended","stylelint-config-prettier"],
    "rules": {
        "indentation": 2,
        "string-quotes": "double",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "selector-no-id": true,
        "selector-no-combinator": true,
        "selector-no-attribute": true,
        "selector-combinator-space-after": "always",
        "selector-attribute-operator-space-before": "always",
        "selector-attribute-brackets-space-inside": "always",
        "declaration-block-trailing-semicolon": "always",
        "declaration-no-important": true,
        "declaration-colon-space-before": "always",
        "declaration-colon-space-after": "always",
        "number-leading-zero": "always",
        "function-url-quotes": "always",
        "font-family-name-quotes": "always-where-recommended",
        "comment-whitespace-inside": "always",
        "comment-empty-line-before": "always",
        "rule-empty-line-before": "always",
        "selector-pseudo-class-parentheses-space-inside": "always",
        "selector-no-universal": true,
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "always",
        "media-feature-colon-space-before": "always",
        "media-feature-colon-space-after": "always",
        "unit-whitelist": ["em", "rem", "%", "s", "px", "deg", "vh", "vw", "ms"]
    }
}
